/************************************************************************/
/************************************************************************/
body{
    font-family: sans-serif;
    color: white;
}

.container{
    width: 80%;
    margin: 0 auto;
}

/************************************************************************/
/*************************** slider *************************************/
#slider{
    height: 700px;
    background-image: url(../Images/slider.jpg);
    background-size: cover;
    background-color: #bac1af;
    background-blend-mode: multiply;
}

/**************************************/
header{
    overflow: hidden;
}

header #logo{
    float: left;
    margin-top: 10px;
}

header #logo img{
    width: 200px;
    height: 60px;
}

header nav{
    float: right;
}

header nav ul{
    list-style: none;
}

header nav ul li{
    display: inline;
    padding: 30px 20px 10px 20px;
    border-radius: 0 0 5px 5px;
}

header nav ul li:first-of-type , header nav ul li:hover{
    background-color: #74c7d5;
}

header nav ul li a{
    text-decoration: none;
    color: white;
}

/**************************************/
#slider .sliderText{
    margin-top: 180px;
}

#slider .sliderText img{
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    padding: 10px;
    width: 70%;
    margin-left: 15%;
}

/**************************************/
#slider #buttonsBlock{
    margin-top: 200px;
    display: inline-block;
    width: 10%;
    margin-left: 45%;
}

#slider #buttonsBlock .buttons{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #e1ded9;
    display: inline-block;
    margin-right: 5px;
}

#slider #buttonsBlock .buttons:first-of-type , #slider #buttonsBlock .buttons:hover{
    background-color: #85c2d4;
}


/************************************************************************/
/************************** services ************************************/
#services{
    height: 900px;
    background-color: #BF4C53;
}

/**************************************/
#services header nav ul li:first-of-type , #services header nav ul li:hover{
    background-color: #dd5d61;
}

/**************************************/
#services #servicesDetails{
    text-align: center;
    margin-top: 100px;
}

#services #servicesDetails h1{
    font-size: 50px;
    font-weight: 100;
    text-transform: uppercase;
}

#services #servicesDetails h3{
    font-weight: 100;
    text-transform: uppercase;
}

#services #servicesDetails p{
    font-size: 14px;
    line-height: 25px;
}

/**************************************/
#services #servicesTypes{
    margin-top: 70px;
}

#services #servicesTypes .servicesBlock{
    width: 23%;
    height: 380px;
    margin: 1%;
    float: left;
    text-align: center;
    background-color: #dd5d61;
    border-radius: 5%;
}

#services #servicesTypes .servicesBlock i{
    color: white;
    border: 5px solid white;
    border-radius: 50%;
    font-size: 80px;
    margin-top: 40px;
    padding: 20px 20px 10px 10px;
    width: 100px;
    height: 100px;
}

#services #servicesTypes .servicesBlock h1{
    font-weight: 100;
    font-size: 26px;
    text-transform: uppercase;
    margin: 30px auto;
}

#services #servicesTypes .servicesBlock p{
    line-height: 25px;
}



/************************************************************************/
/************************** definition **********************************/
#definition{
    height: 800px;
    background-color: #6A5868;
}

/**************************************/
#definition header nav ul li:first-of-type , #definition header nav ul li:hover{
    background-color: #8D788B;
}

/**************************************/
#definition #definitionDetails{
    text-align: center;
}

#definition #definitionDetails h1{
    font-size: 50px;
    font-weight: 100;
    text-transform: uppercase;
}

#definition #definitionDetails p#comment{
    /*
    background-image: url(../Images/comment.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    */
    background-color: #a2c96c;
    text-transform: uppercase;
    font-weight: bold;
    margin: 50px auto;
    padding-top: 15px;
    width: 200px;
    height: 30px;
    border-radius: 5px;
}


/**************************************/
#definition #teamMember{}

#definition #teamMember .teamMemberBlock{
    width: 23%;
    margin: 1%;
    height: 350px;
    float: left;
    text-align: center;
    background-color: #594956;
    border-radius: 5%;
}

#definition #teamMember .teamMemberBlock img{
    width: 130px;
    height: 130px;
    margin: 30px 0 10px 0;
    border: 5px solid #8D788B;
    border-radius: 50%;
}

#definition #teamMember .teamMemberBlock h3{
    text-transform: uppercase;
}

#definition #teamMember .teamMemberBlock p{
    color: #a2c96c;
}

#definition #teamMember .teamMemberBlock .memberContacts{
    margin-top: 30px;
}

#definition #teamMember .teamMemberBlock .memberContacts a{
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: #a6869e;
    border-radius: 50%;
    padding: 5px 2px 2px 2px;
    width: 25px;
    height: 25px;
    margin: 0 5px;
}


#definition #teamMember .teamMemberBlock:hover>img , #definition #teamMember .teamMemberBlock:first-of-type>img{
    border: 5px solid #df5c64;
}

#definition #teamMember .teamMemberBlock:hover>p , #definition #teamMember .teamMemberBlock:first-of-type>p{
    color: #df5c64;
}

#definition #teamMember .teamMemberBlock:hover>div a{
    
}

#definition #teamMember .teamMemberBlock:hover>div .fa-facebook , #definition #teamMember .teamMemberBlock:first-of-type>div .fa-facebook{
    background-color: #49689f;
}

#definition #teamMember .teamMemberBlock:hover>div .fa-twitter , #definition #teamMember .teamMemberBlock:first-of-type>div .fa-twitter{
    background-color: #72ccd5;
}


#definition #teamMember .teamMemberBlock:hover>div .fa-google-plus , #definition #teamMember .teamMemberBlock:first-of-type>div .fa-google-plus{
    background-color: #d06261;
}


#definition #teamMember .teamMemberBlock:hover>div .fa-linkedin , #definition #teamMember .teamMemberBlock:first-of-type>div .fa-linkedin{
    background-color: #3c61b2;
}


/************************************************************************/
/***************************** work *************************************/
#work{
    height: 1000px;
    background-color: #88ab5b;
}


/**************************************/
#work header nav ul li:first-of-type , #work header nav ul li:hover{
    background-color: #a0ca69;
}


/**************************************/
#work #workDetails{
    text-align: center;
    border-bottom: 3px solid #90b35f;
    padding: 20px 0 50px 0;
}

#work #workDetails h1{
    text-transform: uppercase;
}

#work #workDetails p{}


/**************************************/
#work #portfolioHeader{
    overflow: hidden;
    border-bottom: 3px solid #90b35f;
    padding: 20px 0 20px 0;
}

#work #portfolioHeader #portfolioTitle{
    float: left;
}

#work #portfolioHeader #portfolioTitle h3{
    margin-left: 10px;
}

#work #portfolioHeader nav{
    float: right;
}

#work #portfolioHeader nav ul{}

#work #portfolioHeader nav ul li{
    float: left;
    list-style: none;
    margin: 0 10px 0 30px;
}

#work #portfolioHeader nav ul li a{
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

#work #portfolioHeader nav ul li a:hover , #work #portfolioHeader nav ul li:first-of-type>a{
    background-color: #f1c04a;
}

/**************************************/
#work #portfolioDetails{
    height: 800px;
    padding-top: 30px;
}

#work #portfolioDetails .portfolioPics{
    width: 23%;
    height: 30%;
    margin: 1%;
    float: left;
    border-radius: 2px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#work #portfolioDetails .portfolioPics:hover , #work #portfolioDetails .portfolioPics:first-of-type{
    background-color: darkgrey;
    background-blend-mode: multiply;
}

#work #portfolioDetails .portfolioPics i{
    width: 20%;
    height: 20%;
    position: absolute;
    top: 35%;
    left: 45%;
    display: none;
    font-size: 35px;
    cursor: pointer;
}

#work #portfolioDetails .portfolioPics:hover>i , #work #portfolioDetails .portfolioPics:first-of-type>i{
    display: block;
    opacity: 1;
}

#work #portfolioDetails .portfolioPics p{
    text-align: center;
    width: 100%;
    height: 15%;
    padding-top: 10px;
    margin: 0;
    position: absolute;
    bottom: 0;
    background-color: white;
    color: #919191;
    text-transform: uppercase;
}


/************************************************************************/
/*************************** contact ************************************/
#contact{
    height: 650px;
    background-color: #75b4ab;
}


/**************************************/
#contact header nav ul li:first-of-type , #contact header nav ul li:hover{
    background-color: #82c8bd;
}

/**************************************/
#contact #contactHeader{
    text-align: center;
}
#contact #contactHeader h1{
    text-transform: uppercase;
}
#contact #contactHeaderp{}

/**************************************/
#contact #contactDetails{
    margin-top: 50px;
}

/********************/
#contact #contactDetails #adress{
    float: left;
    width: 48%;
    margin-right: 4%;
}
#contact #contactDetails #adress h2{}

#contact #contactDetails #adress #adressDetails{
    float: left;
    width: 48%;
    }

#contact #contactDetails #adress #adressDetails h3{
    margin-bottom: -10px;
}
#contact #contactDetails #adress #adressDetails h4{
    margin-bottom: -15px;
}
#contact #contactDetails #adress #adressDetails form{
    margin-top: 50px;
}

#contact #contactDetails #adress #adressDetails form label{
    display: inline-block;
    margin-bottom: 5px;
}

#contact #contactDetails #adress #adressDetails form label.contactTitle{
    width: 22%;
    margin-right: 5%;
}
#contact #contactDetails #adress #adressDetails form label.contactData{
    width: 58%;
}

/******/
#contact #contactDetails #adress #adressMap{
    float: left;
    width: 52%;
    height: 220px;
}
#contact #contactDetails #adress #adressMap img{
    width: 100%;
    height: 100%;
    border-radius: 2%;
}

/********************/
#contact #contactDetails #question{
    float: left;
    width: 48%;
}
#contact #contactDetails #question h2{}
#contact #contactDetails #question form{
    width: 100%;
}
#contact #contactDetails #question form input{
    width: 46%;
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 2px;
}

#contact #contactDetails #question form input::placeholder , #contact #contactDetails #question form textarea::placeholder{
    color: #75b4ab;
}

#contact #contactDetails #question form textarea{
    width: 96%;
    height: 150px;
    margin-top: 20px;
    padding: 5px;
    border: none;
    border-radius: 2px;
}



#contact #contactDetails #question form input[type="button"]{
    margin: 20px 30%;
    padding: 10px;
    background-color: #df5c64;
    color: #fbe9ea;
    text-transform: uppercase;
    font-size: 26px;
    width: 40%;
    height: 50px;
}




/************************************************************************/
/**************************** footer ************************************/
footer{
    height: 150px;
    background-color: #68a097;
    text-align: center;
}


footer a{
    margin-top: 50px;
    text-decoration: none;
    color: white;
    background-color: #75b4ab;
    padding: 20px;
    border-radius: 50%;
    margin-left: 20px;
}





