/************************************************************************/
/************************************************************************/
body{
    font-family: sans-serif;
    height: 4000px;
    color: white;
}

.container{
    width: 80%;
    margin: 0 auto;
}

/************************************************************************/
/*************************** slider *************************************/
#slider{
    height: 700px;
    background-image: url(../Images/slider.jpg);
    background-size: cover;
    background-color: #bac1af;
    background-blend-mode: multiply;
}

/**************************************/
header{
    overflow: hidden;
}

header #logo{
    float: left;
    margin-top: 10px;
}

header #logo img{
    width: 200px;
    height: 60px;
}

header nav{
    float: right;
}

header nav ul{
    list-style: none;
}

header nav ul li{
    display: inline;
    padding: 30px 20px 10px 20px;
    border-radius: 0 0 5px 5px;
}

header nav ul li:first-of-type , header nav ul li:hover{
    background-color: #74c7d5;
}

header nav ul li a{
    text-decoration: none;
    color: white;
}

/**************************************/
#slider .sliderText{
    margin-top: 180px;
}

#slider .sliderText img{
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    padding: 10px;
    width: 70%;
    margin-left: 15%;
}

/**************************************/
#slider #buttonsBlock{
    margin-top: 200px;
    display: inline-block;
    width: 10%;
    margin-left: 45%;
}

#slider #buttonsBlock .buttons{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #e1ded9;
    display: inline-block;
    margin-right: 5px;
}

#slider #buttonsBlock .buttons:first-of-type , #slider #buttonsBlock .buttons:hover{
    background-color: #85c2d4;
}


/************************************************************************/
/************************** services ************************************/
#services{
    height: 900px;
    background-color: #BF4C53;
}

/**************************************/
#services header nav ul li:first-of-type , #services header nav ul li:hover{
    background-color: #dd5d61;
}

/**************************************/
#services #servicesDetails{
    text-align: center;
    margin-top: 100px;
    text-transform: uppercase;
}

#services #servicesDetails h1{
    font-size: 50px;
    font-weight: 100;
}

#services #servicesDetails h3{
    font-weight: 100;
}

#services #servicesDetails p{
    font-size: 14px;
    line-height: 25px;
}

/**************************************/
#services #servicesTypes{
    margin-top: 70px;
}

#services #servicesTypes .servicesBlock{
    width: 23%;
    height: 380px;
    margin: 1%;
    float: left;
    text-align: center;
    background-color: #dd5d61;
    border-radius: 5%;
}

#services #servicesTypes .servicesBlock img{
    margin-top: 40px;
    width: 100px;
    height: 100px;
}

#services #servicesTypes .servicesBlock h1{
    font-weight: 100;
    font-size: 26px;
    text-transform: uppercase;
    margin: 30px auto;
}

#services #servicesTypes .servicesBlock p{
    line-height: 25px;
}




















